.my-box {
  margin-top: calc(30px + 9vmin);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.my-box .my-nav {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
}
.my-box .my-nav::-webkit-scrollbar {
  display: none;
}
.my-box .my-nav .round-icon-list {
  margin: 0 3.5vmin;
}
.my-box .my-nav .round-icon-list:last-child {
  padding-right: 3.5vmin;
}
.my-list-nav {
  margin-top: 5vmin;
}
.my-box .my-white-space {
  background-color: #eaeaea;
}
