.yellowTab{
    padding: 70px 0;
    height: 100%;
}
html,body,#root{
    height: 100%;
}
.videoTab{
    height: 45%;
    border-bottom: 1px solid #ccc;
    
}
.videoimg img{
width: 40px;
height: 40px;
}