.yellowTab {
  padding: 70px 0;
}
html,
body,
#root {
  height: 100%;
}
.videoTab {
  height: 45%;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
}
/* video{
    height: 30%;
} */
.videoimg div img {
  width: 40px;
  height: 40px;
}
.videoimg div {
  width: 40px;
  height: 40px;
}
